@font-face {
    font-family:pkmn;
    src:url('pkmnred.ttf');
}

// color-scheme
$black: #161555;
$yellow: #FAEF61;
$red: #FE1B53;
$blue: #18D4F8;
$dark-blue: #01B6D5;
$dark-red: #441849;
$other-red: #CB225D;
$light-red: #FB9275;

body {
    background-color: $yellow;
    font-family: pkmn, sans-serif;
    margin:0;
    color:$black;
    #canvas {
        width: 100%;
        display:flex;
        justify-content: center;
        align-items: center;
        #gameboy {
            width:360px;
            height:580px;
            padding:15px;
            background-color:$red;
            border-radius:20px;
            border-bottom-right-radius: 90px;
            border-right:	$dark-red solid 15px;
            box-shadow:0px 15px 	$dark-red, 15px 0px 	#81C148;
                #screen-wrapper {
                    background-color:$black;
                    margin:auto;
                    width:310px;
                    height:310px;
                    border-radius:15px;
                    border-bottom-right-radius: 50px;
                    border-bottom-left-radius: 50px;
                    display:flex;
                    flex-direction:column;
                    justify-content:center;
                            #screen {
                                background-color:#18D4F8;
                                width: 240px;
                                height:230px;
                                margin:auto;
                                    #menu {
                                        width:240px;
                                        height:230px;
                                        background-color:$blue;
                                        display:none;
                                    }
                                        #menu:hover {
                                            cursor:pointer;
                                        }
                                    #start {
                                        width: 240px;
                                        height:230px;
                                        background-image: url('red.gif');
                                        background-size:100%;
                                        display:flex;
                                        justify-content: center;
                                        flex-direction: column;
                                        align-content:center;
                                        #start-button {
                                            margin:auto;
                                            padding:10px;
                                            font-size:12px;
                                            border:2px solid;
                                            background-color:#F8E8F8;
                                        }
                                            #start-button:hover {
                                                    cursor: pointer;
                                                }
                                    }
                                    #mew, #gengar, #clefairy {
                                        width:240px;
                                        height:230px;
                                        background-color:$blue;
                                        display:flex;
                                        flex-wrap:wrap;
                                        padding:10px;
                                        align-items:center;
                                        font-size:12px;
                                        display:none;
                                            .sprite {
                                                width: auto;
                                                max-width: 150px;
                                                height: auto;
                                                max-height: 100px;
                                                margin:0;
                                            }
                                            .pkmn-name, .id {
                                                font-size:17px;
                                                text-transform:uppercase;
                                                margin:10px;
                                                width: 100px;
                                                text-align: center;
                                            }
                                            .ability {
                                                text-transform:capitalize;;
                                            }
                                            #base-stats {
                                                    ul, li {
                                                        list-style: none;
                                                    }
                                            }
                            }
                        }
                        #logo {
                            color:white;
                            text-align:center;
                            margin:0;
                            margin-bottom:18px;
                            font-family:"comic sans ms";
                        }
                }
                #controls {
                    display:flex;
                    justify-content: space-between;
                    margin-top:30px;
                    align-items: center;
                        #button-pad {
                            display:flex;
                            flex-wrap:wrap;
                            width:93px;
                            margin:10px;
                                .button {
                                    width:30px;
                                    height:30px;
                                    background-color:$black;
                                    box-shadow:2px 2px $dark-red;
                                }
                                .button:hover {
                                    cursor: pointer;
                                }
                                    #up {
                                        border-top-left-radius: 8px;
                                        border-top-right-radius: 8px;
                                        border-right:1px $light-red solid;
                                    }
                                    #left {
                                        border-top-left-radius: 8px;
                                        border-bottom-left-radius: 8px;
                                        border-bottom:1px $light-red solid;
                                    }
                                    #right {
                                        border-top-right-radius: 8px;
                                        border-bottom-right-radius: 8px;
                                        border-right:1px $light-red solid;
                                        border-bottom:1px $light-red solid;
                                    }
                                    #down {
                                        border-bottom-left-radius: 8px;
                                        border-bottom-right-radius: 8px;
                                        border-right:1px $light-red solid;
                                        border-bottom:1px $light-red solid;
                                    }
                                    #center {
                                        border-bottom:1px $black solid;
                                    }
                                .empty {
                                    width:30px;
                                    height:30px;
                                }
                        }
                        #ab-container {
                            display:flex;
                            justify-content: space-between;
                            width:120px;
                            border-radius:30px;
                            background-color:$other-red;
                            padding:10px;
                            height:60px;
                            transform: rotate(-20deg);
                            margin:10px;
                                .ab-button {
                                    width:40px;
                                    height:40px;
                                    border-radius:40px;
                                    background-color:$black;
                                    color:white;
                                    font-family:Arial, Helvetica, sans-serif;
                                    box-shadow:2px 2px $dark-red;
                                    border-right:1px $light-red solid;
                                }
                                .ab-button:hover {
                                    cursor: pointer;
                                }
                                
                        }
                }
        }
}
        
}
