@font-face {
  font-family: pkmn;
  src: url("pkmnred.ttf"); }
body {
  background-color: #FAEF61;
  font-family: pkmn, sans-serif;
  margin: 0;
  color: #161555; }
  body #canvas {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; }
    body #canvas #gameboy {
      width: 360px;
      height: 580px;
      top: 50vh;
      padding: 15px;
      background-color: #FE1B53;
      border-radius: 20px;
      border-bottom-right-radius: 90px;
      border-right: #441849 solid 15px;
      box-shadow: 0px 15px #441849, 15px 0px #81C148; }
      body #canvas #gameboy #screen-wrapper {
        background-color: #161555;
        margin: auto;
        width: 310px;
        height: 310px;
        border-radius: 15px;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        body #canvas #gameboy #screen-wrapper #screen {
          background-color: #18D4F8;
          width: 240px;
          height: 230px;
          margin: auto; }
          body #canvas #gameboy #screen-wrapper #screen #menu {
            width: 240px;
            height: 230px;
            background-color: #18D4F8;
            display: none;
            cursor: pointer;
            padding-top: 50px; }
          body #canvas #gameboy #screen-wrapper #screen #start {
            width: 240px;
            height: 230px;
            background-image: url("images/red.gif");
            background-size: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-content: center; }
            body #canvas #gameboy #screen-wrapper #screen #start #start-button {
              margin: auto;
              padding: 5px;
              font-size: 12px;
              border: 2px solid;
              background-color: #F8E8F8;
              cursor: pointer;
              animation: bounce 1s infinite alternate;
              -webkit-animation: bounce 1s infinite alternate; }
@keyframes bounce {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-10px); } }
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-10px); } }
          body #canvas #gameboy #screen-wrapper #screen #trainer-card {
            padding: 10px;
            display: none;
            text-align: center; }
            body #canvas #gameboy #screen-wrapper #screen #trainer-card #t-exit {
              z-index: 500;
              position: absolute;
              background-color: #FE1B53;
              color: white;
              padding: 5px;
              cursor: pointer;
              border-radius: 5px;
              text-align: center; }
            body #canvas #gameboy #screen-wrapper #screen #trainer-card #trainer {
              width: 100px; }
          body #canvas #gameboy #screen-wrapper #screen #mew, body #canvas #gameboy #screen-wrapper #screen #gengar, body #canvas #gameboy #screen-wrapper #screen #clefairy {
            width: 240px;
            height: 230px;
            background-color: #18D4F8;
            padding: 10px;
            font-size: 12px;
            display: none; }
            body #canvas #gameboy #screen-wrapper #screen #mew ul, body #canvas #gameboy #screen-wrapper #screen #mew li, body #canvas #gameboy #screen-wrapper #screen #gengar ul, body #canvas #gameboy #screen-wrapper #screen #gengar li, body #canvas #gameboy #screen-wrapper #screen #clefairy ul, body #canvas #gameboy #screen-wrapper #screen #clefairy li {
              list-style-type: none; }
            body #canvas #gameboy #screen-wrapper #screen #mew #m-exit, body #canvas #gameboy #screen-wrapper #screen #mew #g-exit, body #canvas #gameboy #screen-wrapper #screen #mew #c-exit, body #canvas #gameboy #screen-wrapper #screen #gengar #m-exit, body #canvas #gameboy #screen-wrapper #screen #gengar #g-exit, body #canvas #gameboy #screen-wrapper #screen #gengar #c-exit, body #canvas #gameboy #screen-wrapper #screen #clefairy #m-exit, body #canvas #gameboy #screen-wrapper #screen #clefairy #g-exit, body #canvas #gameboy #screen-wrapper #screen #clefairy #c-exit {
              z-index: 500;
              position: absolute;
              background-color: #FE1B53;
              color: white;
              padding: 5px;
              cursor: pointer;
              border-radius: 5px;
              text-align: center; }
            body #canvas #gameboy #screen-wrapper #screen #mew .sprite, body #canvas #gameboy #screen-wrapper #screen #gengar .sprite, body #canvas #gameboy #screen-wrapper #screen #clefairy .sprite {
              width: auto;
              max-width: 150px;
              height: auto;
              max-height: 100px;
              margin: 0; }
            body #canvas #gameboy #screen-wrapper #screen #mew .pkmn-name, body #canvas #gameboy #screen-wrapper #screen #mew .id, body #canvas #gameboy #screen-wrapper #screen #gengar .pkmn-name, body #canvas #gameboy #screen-wrapper #screen #gengar .id, body #canvas #gameboy #screen-wrapper #screen #clefairy .pkmn-name, body #canvas #gameboy #screen-wrapper #screen #clefairy .id {
              font-size: 17px;
              text-transform: uppercase;
              margin: 10px;
              width: 100px;
              text-align: center; }
            body #canvas #gameboy #screen-wrapper #screen #mew .ability, body #canvas #gameboy #screen-wrapper #screen #gengar .ability, body #canvas #gameboy #screen-wrapper #screen #clefairy .ability {
              text-transform: capitalize; }
            body #canvas #gameboy #screen-wrapper #screen #mew #base-stats ul, body #canvas #gameboy #screen-wrapper #screen #mew #base-stats li, body #canvas #gameboy #screen-wrapper #screen #gengar #base-stats ul, body #canvas #gameboy #screen-wrapper #screen #gengar #base-stats li, body #canvas #gameboy #screen-wrapper #screen #clefairy #base-stats ul, body #canvas #gameboy #screen-wrapper #screen #clefairy #base-stats li {
              list-style: none; }
        body #canvas #gameboy #screen-wrapper #logo {
          color: white;
          text-align: center;
          margin: 0;
          margin-bottom: 18px;
          font-family: "comic sans ms"; }
      body #canvas #gameboy #controls {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        align-items: center; }
        body #canvas #gameboy #controls #button-pad {
          display: flex;
          flex-wrap: wrap;
          width: 93px;
          margin: 10px; }
          body #canvas #gameboy #controls #button-pad .button {
            width: 30px;
            height: 30px;
            background-color: #161555;
            box-shadow: 2px 2px #441849; }
          body #canvas #gameboy #controls #button-pad .button:hover {
            cursor: pointer; }
          body #canvas #gameboy #controls #button-pad #up {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            border-right: 1px #FB9275 solid; }
          body #canvas #gameboy #controls #button-pad #left {
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            border-bottom: 1px #FB9275 solid; }
          body #canvas #gameboy #controls #button-pad #right {
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            border-right: 1px #FB9275 solid;
            border-bottom: 1px #FB9275 solid; }
          body #canvas #gameboy #controls #button-pad #down {
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            border-right: 1px #FB9275 solid;
            border-bottom: 1px #FB9275 solid; }
          body #canvas #gameboy #controls #button-pad #center {
            border-bottom: 1px #161555 solid; }
          body #canvas #gameboy #controls #button-pad .empty {
            width: 30px;
            height: 30px; }
        body #canvas #gameboy #controls #ab-container {
          display: flex;
          justify-content: space-between;
          width: 120px;
          border-radius: 30px;
          background-color: #CB225D;
          padding: 10px;
          height: 60px;
          transform: rotate(-20deg);
          margin: 10px; }
          body #canvas #gameboy #controls #ab-container .ab-button {
            width: 40px;
            height: 40px;
            border-radius: 40px;
            background-color: #161555;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
            box-shadow: 2px 2px #441849;
            border-right: 1px #FB9275 solid; }
          body #canvas #gameboy #controls #ab-container .ab-button:hover {
            cursor: pointer; }

/*# sourceMappingURL=main.css.map */
